* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: #232326;
  border: 2px solid #3D3D42;
  color: #D3C6AA;
}

#workspaces, #scratchpad {
  margin-right: 10px;
  font-weight: bold;
}

#workspaces button {
  border: none;
  border-radius: 0;
  color: #6E6E77;
  transition: all 0.2s ease-in-out;
}

#workspaces button.focused {
  color: #FFFFFF;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #3D484D;
  border: none;
  color: #FFFFFF;
}

#window, #clock, #system {
  margin: 5px;
  padding: 0 10px;
  color: #FFFFFF;
  background-color: #272E33;
  border: 2px solid #3D484D;
  border-radius: 15px;
}

#clock {
  background-color: #272E33;
  border: 2px solid #2D353B;
  color: #FFFFFF;
}
