* {
    background:     #181825FF;
    background-alt: #181825FF;
    foreground:     #45475AFF;
    selected:       #CDD6F4FF;
    active:         #A6E3A1FF;
    urgent:         #F38BA8FF;
    font:           "JetBrains Mono Nerd Font 10";
}
