[submodule ".config/zsh/zsh_plugins/zsh-syntax-highlighting"]
	path = config/zsh/zsh_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/zsh/zsh_plugins/zsh-autosuggestions"]
	path = config/zsh/zsh_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/zsh_plugins/powerlevel10k"]
	path = config/zsh/zsh_plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".config/zsh/zsh_plugins/fzf-tab"]
	path = config/zsh/zsh_plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
